@model Project_DomainEntities.TodoListModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h4>Edit To Do List</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="TodoList" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
			<input asp-for="UserId" type="hidden" value="@Model.UserId"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn" style="background-color: #671dff; color: white; font-weight: 500;" />
                <a asp-controller="TodoList" asp-action="SingleDetails" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
