@model IEnumerable<TODO_Domain_Entities.TodoListModel>

@{
	ViewData["Title"] = "Index";
	Layout = "_Layout";
}

<h1>To Do Lists Details</h1>

<p>
	<a asp-action="Briefly" class="btn btn-primary">Back</a>
</p>

@foreach (var item in Model)
{
	ViewData["TableTitle"] = item.Name;
	<partial name="_TodoListTableDetails" model="@item.Tasks.ToList()" view-data="ViewData" />
}