@using App.Features.Tasks.Common.Helpers
@using App.Features.Tasks.Common.Interfaces;
@using App.Features.Tasks.Common;
@using App.Features.Tasks.Common.Models;
@using App.Features.Boards.All.Models;
@model BoardAllOutputVM

@{
	Layout = SharedViews.DefaultLayout;
}

<h1>All To Do Lists</h1>

<p>
	<a asp-action="@BoardsCtrl.BrieflyAction" asp-controller="@BoardsCtrl.Name" class="btn btn-primary">Back</a>
</p>

@foreach (var todoListDto in Model.TodoLists)
{
	ViewData["TableTitle"] = todoListDto.Title;
	<partial name="@SharedViews.TodoListTableDetails" model="@todoListDto.Tasks" view-data="ViewData" />
}