.icons img {
    width: 55px;
}

.icons span {
    font-size: 0.8em;
    font-weight: 600;
}

.card,
.project-footer {
    border-radius: 8px;
}

.details {
    display: flex;
    gap: 1rem;

    div {
        padding: .75em 1em;
        background-color: #f1eeff;
        border-radius: 8px;
        display: flex;
        flex-direction: column-reverse;
        gap: .125em;
        flex-basis: 50%;
    }

    dt {
        font-size: .75rem;
        color: #a69fd6;
        font-weight: 400;
    }

    dd {
        color: #6558d3;
        font-weight: 600;
        font-size: 0.9rem;
    }
}

.inside-card-text {
    font-weight: 400;
    font-size: 0.8em;
}