<p>project-manager-main-board works!</p>

<nav>GŁÓWNA NAWIGACJA TOP</nav>

<!-- PROJECTS CONTAINER  -->
<div class="container">

  <div class="row justify-content-sm-center justify-content-md-center justify-content-lg-start">
    <menu>
      <div class="col-auto">
        <button class="btn btn-custom-primary" (click)="GoToProjectCreation()">
          <span>NEW PROJECT</span>
        </button>
      </div>
    </menu>
  </div>

  <section id="projects" class="row justify-content-center mt-3">
    <!-- Single Project Card -->
     @for (project of projects; track project.Id) {
        <app-project-manager-project [images]="projectImages", [project]="project"></app-project-manager-project>
     }
  </section>
</div>
