.icons img {
    width: 55px;
}

.icons span {
    font-size: 0.8em;
    font-weight: 600;
}

.avatar img {
    width: 40px;
    float: left;
}

.btn-new-project {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90.38deg, rgb(0, 120, 194) 4.77%, rgb(0, 71, 255) 42.63%, rgb(132, 83, 210) 65.91%);
    border-radius: 0.6em;
    border: 2px solid transparent;
}

.btn-new-project:hover {
    background: linear-gradient(to right, rgb(24, 139, 211) 0%, rgb(131, 73, 224) 100%);
}

.btn-new-project span {
    font-weight: 600;
    font-size: 0.9em;
    transition: 0.2s;
    background: linear-gradient(90.38deg, rgb(1, 94, 151) 4.77%, rgb(0, 71, 255) 42.63%, rgb(107, 60, 184) 65.91%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn-new-project:hover span {
    color: white;
}

.card-title {
    font-weight: 600;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    transition: top ease 0.15s;
}

.card:hover {
    cursor: grab;
    top: -10px;
}

.card,
.project-footer {
    border-radius: 5%;
}

.details {
    display: flex;
    gap: 1rem;

    div {
        padding: .75em 1em;
        background-color: #f1eeff;
        border-radius: 8px;
        display: flex;
        flex-direction: column-reverse;
        gap: .125em;
        flex-basis: 50%;
    }

    dt {
        font-size: .75rem;
        color: #a69fd6;
        font-weight: 400;
    }

    dd {
        color: #6558d3;
        font-weight: 600;
        font-size: 0.9rem;
    }
}

.inside-card-text {
    font-weight: 400;
    font-size: 0.8em;
}

.font-7 {
    font-size: 0.7em;
}

.font-8 {
    font-size: 0.8em;
}

.font-9 {
    font-size: 0.9em;
}

.bold-5 {
    font-weight: 500;
}

.bold-6 {
    font-weight: 600;
}

.bold-7 {
    font-weight: 700;
}

.bold-8 {
    font-weight: 800;
}