@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Spline Sans", "Dosis", Calibri, Tahoma, sans-serif !important;
}

html {
    position: relative;
}

body {
    margin: 0;
}

.avatar img {
    width: 45px;
    float: left;
}

.btn-custom-primary {
    background: linear-gradient(white, white) padding-box,
        linear-gradient(90.38deg, rgb(0, 120, 194) 4.77%, rgb(0, 71, 255) 42.63%, rgb(132, 83, 210) 65.91%);
    border-radius: 0.6em;
    border: 2px solid transparent;
}

.btn-custom-primary:hover {
    background: linear-gradient(to right, rgb(24, 139, 211) 0%, rgb(131, 73, 224) 100%);
}

.btn-custom-primary span {
    font-weight: 600;
    font-size: 0.9em;
    transition: 0.2s;
    background: linear-gradient(90.38deg, rgb(1, 94, 151) 4.77%, rgb(0, 71, 255) 42.63%, rgb(107, 60, 184) 65.91%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn-custom-primary:hover span {
    color: white;
}

.card-title {
    font-weight: 600;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    transition: top ease 0.15s;
}

.card:hover {
    cursor: grab;
    top: -10px;
    box-shadow: 0 4px 8px 0 #b5a9ff, 0 5px 10px 0 #b5a9ff;
}

.color-purple {
    color: #460096;
}

.color-green {
    color: #0a6d01;
}

.color-orange {
    color: rgb(161, 97, 1);
}

.bcolor-orange {
    background-color: rgb(255, 183, 152);
}

.bcolor-light-orange {
    background-color: rgb(255, 230, 219);
}

.color-grey {
    color: rgb(119, 119, 119);
}

.color-purple {
    color: rgb(95, 0, 197);
}

.bcolor-purple {
    background-color: rgb(210, 167, 255);
}

.bcolor-light-purple {
    background-color: rgb(242, 230, 255);
}

.color-yellow {
    color: rgb(148, 145, 0);
}

.bcolor-yellow {
    background-color: rgb(245, 242, 50);
}

.bcolor-light-yellow {
    background-color: rgb(255, 255, 160);
}

.color-blue {
    color: rgb(0, 13, 197);
}

.color-light-blue {
    color: rgb(9, 241, 230);
}

.left-menu {
    height: 100%;
    min-width: 150px;
    background-color: white;
    float: left;
    margin-left: 0px;
    position: fixed;
    padding-top: 60px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

.left-menu-box {
    height: 100%;
    width: 100%;
}

.left-menu-box ul {
    padding: 0;
    width: 100%;
}

.left-menu-box li {
    text-align: start;
    font-weight: 500;
    font-size: 0.9rem;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 16px;
    transition: 0.2s;
}

.left-menu-box li:hover {
    background-color: rgb(236, 236, 236);
}

.left-menu-box li:active {
    background-color: rgb(212, 212, 212) !important;
}

.left-menu-box i {
    padding-right: 10px;
    font-size: 1.1rem;
}

.nav-menu {
    z-index: 1000;
    background-color: white;
    position: fixed;
    padding: 6px 0 6px 0;
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    flex-wrap: nowrap;
}

.nav-logo {
    height: 60px;
    padding-left: 30px;
}

.nav-logo img {
    max-height: 70%;
    width: auto;
}

.nav-title {
    padding: 0 0 0 15px;
}

@media(min-width: 992px) {
    .left-menu {
        transform: translateX(0%);
    }

    .content-wrapper {
        padding: 60px 0 0 165px;
    }
}

@media(max-width: 991px) {
    .left-menu {
        z-index: 999;
        transform: translateX(-100%);
    }

    .content-wrapper {
        padding: 60px 10px 0px 10px;
    }
}

.burger-box div {
    background-color: rgb(238, 238, 238);
}

.burger-box div:hover {
    /* background-color: rgb(226, 226, 226); */
    border: 1px solid rgb(194, 194, 194);
}

.nav-user-avatar img {
    height: auto;
    width: 4vh;
}

.btn-gradient-filled {
    font-size: 1.3rem;
    font-weight: 900;
    padding: 0 20px 0 20px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    transition: all 1s ease-in-out;

    background-image: linear-gradient(to right, rgb(200, 140, 220) 0%, rgb(95, 0, 197) 20%, rgb(9, 241, 230) 100%);
    background-size: 150% 100%;
    background-position: top left;
    transition: all 0.2s ease-in-out;
}

.btn-gradient-filled:hover {
    background-position: top left 100%;
}

.btn-fullx {
    width: 100%;
}

.font-4 {
    font-size: 0.4em;
}

.font-5 {
    font-size: 0.5em;
}

.font-6 {
    font-size: 0.6em;
}

.font-6_5 {
    font-size: 0.65em;
}

.font-7 {
    font-size: 0.7em;
}

.font-8 {
    font-size: 0.8em;
}

.font-9 {
    font-size: 0.9em;
}

.font-10 {
    font-size: 1em;
}

.font-11 {
    font-size: 1.1em;
}

.font-12 {
    font-size: 1.2em;
}

.font-13 {
    font-size: 1.3em;
}

.font-14 {
    font-size: 1.4em;
}

.bold-5 {
    font-weight: 500;
}

.bold-6 {
    font-weight: 600;
}

.bold-7 {
    font-weight: 700;
}

.bold-8 {
    font-weight: 800;
}