.view-title-box {
    text-align: start;
}

.team-head-box{
    width:auto;
    padding: 15px 12px;
    margin-left: 0px;
    border-radius: 10px;
}

.icon-eye:hover {
    cursor: grab;
}

.team-card {
    position: relative;
    width: 325px;
    height: auto;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    margin: 1.5em 1.5em 0px 0px;
    margin-left: 0px;

    box-shadow: 0 1px 6px 0 #e7e7e7, 0 1px 15px 0 #e7e7e7;
}

.card-corner {
    position: absolute;
    width: 0px;
    right: 0;
    top: 0;
    border-width: 30px 30px 30px 30px;
    transition: 0.12s;
    border-top-right-radius: 10px;
    border-style: solid;
}

.avatar {
    margin: 0px;
    padding: 0px 0px 0px 12px;
}

.avatar img {
    width: 100px;
    transition: 0.2s;
    transform: translateY(30px);    
}

.team-card:hover .avatar img {
    font-size: 1.2em;
    width: 80px;
    transform: translateY(0px);    
}

.member-data {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    color: rgb(97, 97, 97);
}

.member-data span {
    padding: 0px 0px 5px 0px;
}

.member-stats {
    margin: 20px 0px 7px 0px;
    color: rgb(97, 97, 97);
}

.member-basic-data {
    font-size: 1.15em;
    transition: 0.2s;
    transform: translateY(45px);
    
    &:nth-child(1){
        font-size: 1.15em;
    }

    &:nth-child(2) {
        font-size: 1em;
    }
}

.team-card:hover .member-basic-data {
    font-size: 1em;
    transform: translateY(0px);

    &:nth-child(1){
        font-size: 1em;
    }

    &:nth-child(2) {
        font-size: 0.85em;
    }
}

.member-data-to-hide {
    transition: 0.15s;
    /* transition-delay: calc(0.03s * var(--i)); */
    opacity: 0;
    transform: translateY(20px);
}

.team-card:hover .member-data-to-hide {
    opacity: 1;
    transform: translateY(0px);
}

.member-stats div dt {
    font-size: 0.75em;
    font-weight: 500;
}

.member-stats div dd {
    font-size: 0.7em;
    font-weight: 500;
}