@using Project_Main.Infrastructure.Helpers
@model Project_Main.Models.ViewModels.InputModels.LoginInputVM

@{
	Layout = AccountViews.DefaultLayout;
}

<div class="card" style="width: 25rem;">
	<img src="\earth-welcome.jpg" class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title">Login Page</h5>

		<form asp-action=@AccountCtrl.LoginAction asp-controller=@AccountCtrl.Name method="post">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">@@</span>
				</div>
				<input asp-for="Name" type="text" class="form-control" placeholder="Username" aria-label="Username" />
				<span asp-validation-for="Name" class="text-danger" style="width: 100%;"></span>
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">#</span>
				</div>
				<input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" />
				<span asp-validation-for="Password" class="text-danger" style="width: 100%;"></span>
			</div>

			<div class="card-body">
				<button class="btn btn-primary" type="submit" style="font-weight: 500; color:white;">Log In</button>
				<a asp-controller=@AccountCtrl.Name asp-action=@AccountCtrl.LoginByProviderAction asp-route-provider=@AccountCtrl.GoogleProvider class="btn btn-info" style="font-weight: 500; color:white;">by Google</a>
				<a asp-controller=@AccountCtrl.Name asp-action=@AccountCtrl.RegisterAction class="btn btn-info" style="font-weight: 500; color:white;">Register</a>
			</div>
			
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync(SharedViews.Validation);
	}
}