@using Web.Infrastructure.Helpers;
@using Web.Boards;
@using Web.Tasks.Common.Interfaces;
@model BoardAllOutputVM

@{
	ViewData["Title"] = "Index";
	Layout = SharedViews.DefaultLayout;
}

<h1>All To Do Lists</h1>

<p>
	<a asp-action="@BoardsCtrl.BrieflyAction" asp-controller="@BoardsCtrl.Name" class="btn btn-primary">Back</a>
</p>

<!-- TODO MOVE SORTING TO OTHER PLACE WITHIN SOME SERVICE DO NOT LEAVE IT HERE -->
@foreach (var todoListDto in Model.TodoLists)
{
	ViewData["TableTitle"] = todoListDto.Title;
	ICollection<ITaskDto> sortedTasks = todoListDto.Tasks.OrderBy(t => t, new TasksComparer()).ToList();
	<partial name="@SharedViews.TodoListTableDetails" model="@sortedTasks" view-data="ViewData" />
}