@* @using static App.Common.ViewsConsts; *@

@{
    ViewData["Title"] = "Home Page";
    Layout = @SharedViews.DefaultLayout;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
