.todolist-head {
    background-color: #6558d3;
    border-radius: 8px 8px 0% 0%;
    color: white;
}

.todolist-img-box img {
    width: 125px;
}

.icons img {
    width: 55px;
}

.icons span {
    font-size: 0.8em;
    font-weight: 600;
}

.card,
.project-footer {
    border-radius: 8px;
}

.details {
    display: flex;
    gap: 1rem;

    div {
        padding: 1em 0.6em;
        background-color: #f1eeff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: .11em;
        flex-basis: 50%;
    }

    .team-box {
        background-color: #ffeac2;
    }

    .team-box img {
        max-width: 60px;
    }

    dt {
        font-size: .7rem;
        color: #a69fd6;
        font-weight: 400;
    }

    dd {
        color: #6558d3;
        font-weight: 600;
    }
}

.setting-box-selection {
    /* background-color: blue; */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 50px;

    .multi-button {
        top: 1.25rem;
        left: 1.25rem;
        border-radius: 100%;
        width: 0rem;
        height: 0rem;
        z-index: -1;
        opacity: 0;
        transition: 0.2s, z-index 0.2s ease, opacity 0.15s;
        position: absolute;
    }

    &:hover .multi-button {
        z-index: 1;
        opacity: 1;
        transition: 0.25s, z-index 0.3s ease, opacity 0.5s;
        transform: translate(-42%, -55%);
        width: 10rem;
        height: 10rem;
    }

    &:hover .setting-icon {
        color: #c9bdff;
    }

    &:hover button {
        &:nth-child(1) {
            right: 62.5%;
            top: 18.75%;
        }

        &:nth-child(2) {
            right: 37.5%;
            top: 18.75%;
        }

        &:nth-child(3) {
            right: 18.75%;
            top: 37.5%;
        }

        &:nth-child(4) {
            right: 18.75%;
            top: 62.5%;
        }
    }

    button {
        width: 2rem;
        height: 2rem;
        border: none;
        border-radius: 100%;
        background: #c9bdff;
        color: #6558d3;
        cursor: pointer;
        transition: 0.25s cubic-bezier(0.25, 0, 0, 1);
        box-shadow: 0 1px 6px 0 #b2a5eb, 0 1px 6px 0 #b2a5eb;

        top: 0rem;
        right: 0rem;
        position: absolute;

        &:hover {
            background: #6558d3;
            color: #c9bdff;
            box-shadow: 0 1px 5px 0 #8477fa, 0 1px 5px 0 #8477fa;
        }
    }
}

.setting-icon {
    position: absolute;
    top: 13px;
    right: 13px;
    color: #b5a9ff;
    transition: 0.25s;
}

.inside-card-text {
    font-weight: 500;
    font-size: 0.8em;
    text-align: justify;
    color: rgb(141, 141, 141);
}

.inside-body {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    margin: 0px 2px;
}