<!-- navigation top menu -->
<div class="row nav-menu color-grey align-items-center">

    <!-- left burger menu on mobile -->
    <div appBurgerHoverEffect [outerElem]="mobileMenu" (isShowedOutput)="onMenuShowChange($event)" [isShowedIn]="isMenuShowStatus"
      class="col-auto left-burger burger-box ps-4 d-sm-block d-md-block d-lg-none">
      <div class="btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  
    <!-- nav title with logo -->
    <div class="col-auto ms-sm-auto ms-md-auto ms-lg-0 nav-logo d-flex align-items-center">
      <img [src]="appLogoPath" />
      <div class="nav-title">
        <span class="font-12">Project Title | </span>
        <span class="font-10">Dashboard Name</span>
      </div>
    </div>
  
    <!-- right burger menu on mobile -->
    <div class="col-auto ms-auto burger-box d-sm-block d-md-block d-lg-none">
      <div class="btn">
        <i class="fa-solid fa-right-from-bracket"></i>
      </div>
    </div>
  
    <!-- nav user info on large -->
    <div class="col-auto ms-auto d-sm-none d-md-none d-lg-block">
      <div class="row align-items-center">
        <div class="col-auto">
          <span class="bold-5">{{ currentUserName }}</span>
        </div>
        <div class="col-auto nav-user-avatar">
          <img [src]="userAvatarPath" />
        </div>
        <div class="col-auto h-100">
          <div class="btn btn-gradient-filled h-100">LOGOUT</div>
        </div>
      </div>
    </div>
  </div>