<!-- left sidebar menu -->
<!-- <div class="left-menu d-md-none d-sm-none d-lg-block"> -->
<div #mobileMenu class="left-menu">
    <div class="left-menu-box">
        <ul class="btn-group-vertical">
            <li class="btn btn-fullx"><i class="fa-solid fa-arrow-left"></i>BACK</li>
            <li class="btn btn-fullx"><i class="fa-regular fa-pen-to-square"></i>EDIT</li>
            <li class="btn btn-fullx"><i class="fa-solid fa-chart-line"></i>STATS</li>
            <li class="btn btn-fullx"><i class="fa-solid fa-people-group"></i>TEAMS</li>
            <li class="btn btn-fullx"><i class="fa-solid fa-list"></i>TODO LISTS</li>
            <li class="btn btn-fullx"><i class="fa-regular fa-comments"></i>CHAT</li>
        </ul>
    </div>
</div>