@using Project_DTO;
@using Project_DomainEntities;
@using Project_Main.Infrastructure.Helpers;
@using Project_Main.Models.ViewModels.OutputModels;
@model BoardsAllOutputVM

@{
	ViewData["Title"] = "Index";
	Layout = SharedViews.DefaultLayout;
	IEnumerable<TaskModelDto> sortedTasks = new List<TaskModelDto>();
}

<h1>All To Do Lists</h1>

<p>
	<a asp-action="@BoardsCtrl.BrieflyAction" asp-controller="@BoardsCtrl.Name" class="btn btn-primary">Back</a>
</p>

@foreach (var item in Model.TodoListDtos)
{
	ViewData["TableTitle"] = item.Title;
	sortedTasks = item.Tasks.OrderBy(t => t, new TasksComparer());
	<partial name="@SharedViews.TodoListTableDetails" model="@sortedTasks" view-data="ViewData" />
}