@    using Project_DomainEntities;
@    using Project_Main.Infrastructure.Helpers;
@    using Project_Main.Models.ViewModels.TodoListModels;
    using Project_Main.Models.ViewModels.OutputModels;
@model IEnumerable<BoardsAllOutputVM>

@{
	ViewData["Title"] = "Index";
	Layout = SharedViews.DefaultLayout;
	List<TaskModel> sortedTasks = new();
}

<h1>All To Do Lists</h1>

<p>
	<a asp-action="@BoardsCtrl.BrieflyAction" asp-controller="@BoardsCtrl.Name" class="btn btn-primary">Back</a>
</p>

@foreach (var item in Model)
{
	ViewData["TableTitle"] = item.Title;
	sortedTasks = item.Tasks.ToList();
	sortedTasks.Sort(new TasksComparer());
	<partial name="@SharedViews.TodoListTableDetails" model="@sortedTasks" view-data="ViewData" />
}