<p>project-manager-statistics-board works!</p>

<div class="col left-menu">
    LEFT MENU
</div>

<div class="col">
    <div class="row">
        <div class="col-auto">
            <div class="row">
                <span>STATISTICS VIEW | </span>
                <span>Project Title</span>
            </div>
            <div class="row mt-3">
                <div class="col-auto mt-sm-4">
                    <div class="general-stat-container">
                        <div class="general-stat-inner">
                            <div class="row">
                                <div class="col-auto general-stat-text">
                                    <span class="font-10 bold-5">GENERAL STATS</span>
                                    <span>TodoLists: 8</span>
                                    <span>Total Tasks: 56</span>
                                    <span>Todo Tasks: 25</span>
                                    <span>Tasks In Progress: 12</span>
                                    <span>Tasks Completed: 15</span>
                                </div>
                                <div class="col">
                                    <div class="me-5">
                                        <div class="row justify-content-end">
                                            <div class="progress-bar-container">
                                                <canvas class="float-end" id="TasksProgressChart" height="60px">
                                                    {{ tasksProgressChart }}
                                                </canvas>
                                            </div>
                                        </div>
                                        <div class="row justify-content-end">
                                            <div class="progress-bar-container">
                                                <canvas class="float-end" id="TodoListsProgressChart" height="52px">
                                                    {{ todoListsProgressChart }}
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-end" style="position: absolute; bottom: 15px;">
                                <span>129 days till the deadline 20.06.2024</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto mt-sm-4">
                    <div class="budget-stat-container">
                        <div class="row general-stat-inner">
                            <div class="row text-end">
                                <span class="font-13 bold-5 color-grey ">Budget</span>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="d-flex flex-column align-items-start budget-money">
                                        <span class="color-green">1 200 000$</span>
                                        <span class="color-purple">650 000$</span>
                                        <span class="color-orange">100 000$</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="chart-container">
                                        <canvas id="BudgetChart">{{ budgetChart }}</canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-start" style="position: absolute; bottom: 15px;">
                                <span>Client Company Name</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">
            <div class="row text-start my-4">
                <span>{{ todoLists.length }} TODO LISTS</span>
            </div>
            <div class="row gap-5 justify-content-center">
                <div class="todolist-card" appTodolistCardColor *ngFor="let list of todoLists" [CardColor]="list.Color">
                    <div class="px-2 mt-2 position-relative h-100 ">
                        <div class="row">
                            <div class="col text-start pt-2 font-12 bold-4">
                                <span>{{ list.Title }}</span>
                            </div>
                            <div class="col-auto d-flex flex-row flex-nowrap justify-content-end">
                                <div class="col-auto" style="width: 125px;">
                                    <canvas id="{{ list.Title + 'Chart' }}" height="55px"></canvas>
                                </div>
                                <div class="col-auto text-end ps-2" style="font-size: 1.7em; padding-top: 12px;">
                                    66%</div>
                            </div>
                        </div>
                        <div class="row pt-1">
                            <div class="col d-flex flex-column text-start font-8 bold-5">
                                <span>TOTAL TASKS: {{ list.TasksCount }}</span>
                                <span>TASKS TODO: {{ list.TasksCount - list.TasksCompleted }}</span>
                                <span>COMPLETED TASKS: {{ list.TasksCompleted }}</span>
                            </div>
                            <div class="col text-end ">
                                <div class="row flex-row">
                                    <div class="col">
                                        <span> {{ list.TeamLiderName }}</span>
                                    </div>
                                    <div class="col-auto avatar-box">
                                        <img [src]="avatarPath" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row flex-row position-absolute" style="right:9px; bottom: 18px;">
                            <div class="col-auto">
                                <span>{{ list.TeamName }}</span>
                            </div>
                            <div class="col-auto">
                                <div appTodolistCardTeamColor teamColor="{{ list.TeamColor }}" class="team-color-box">&nbsp;</div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="row justify-content-center align-content-center ">
                    <button class="btn btn-primary" (click)="ReadMoreTodoLists()" style="width: 150px; height: 45px;">MORE</button>
                </div>
            </div>
        </div>
    </div>
</div>