.general-stat-container {
    height: 250px;
    min-width: 500px;
    max-width: 700px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
}

.general-stat-inner {
    padding: 15px 20px 0px 20px;
    position: relative;
    /* height: 100%; */
}

.budget-stat-container {
    height: 250px;
    min-width: 500px;
    max-width: 700px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
}

.general-stat-text {
    display: flex;
    flex-direction: column;
    float: left;
    text-align: left;
}

.general-stat-text span {
    padding-top: 7px;
    font-weight: 500;
    color: rgb(100, 100, 100);
}

.progress-bar-container {
    width: 70%;
}

.budget-money span {
    font-size: 1.5em;
    padding-bottom: 17px;
}

.todolist-card {
    width: 350px;
    height: 170px;
    border-radius: 7px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.15s;
}

.todolist-card:hover {
    filter: contrast(106%);
}

.avatar-box img {
    width: 40px;
}

.team-color-box {
    /* width: 50px; */
    height: auto;
    /* padding: inherit; */
}

.team-color-box svg {
    height: 40px;
}

.team-color-box svg path {
    transition: 0.6s;
}

.todolist-card:hover svg path {
    d: path('M373.5,290Q298,340,212.5,387.5Q127,435,124.5,337.5Q122,240,124,141.5Q126,43,229.5,61Q333,79,391,159.5Q449,240,373.5,290Z');
}

.team-card {
    width: 325px;
    border-radius: 7px;
}

.team-inner-box {
    width: 350px;
    background-color: transparent;
    border-top: 2px solid rgb(235, 235, 235, .5);
    border-left: 2px solid rgb(235, 235, 235);
}

.members-count-box {
    background-color: rgb(243, 243, 243);
}

.avatars-box img {
    width: 32px;
    margin: 4px;
}

.b-color-grey {
    background-color: rgb(185, 185, 185);
    color: white;
    transition: 0.2s;

    &:hover {
        background-color: rgb(158, 158, 158);
    }
}

.head-stat {
    padding: 15px 25px 15px 25px;
    font-weight: 500;
    border: 0px solid;
    border-radius: 7px;
}

.icon-background {
    border: 0px solid;
    border-radius: 40%;
    padding: 9px;
}

/* .progress-bar-container .mdc-linear-progress {
    --mdc-linear-progress-active-indicator-height: 7px;
    --mdc-linear-progress-track-height: 7px
} */