<!-- navigation top menu -->
<div class="row nav-menu color-grey align-items-center">

    <!-- left burger menu on mobile -->
    <div appBurgerHoverEffect [outerElem]="leftMenu" class="col-auto left-burger burger-box ps-4 d-sm-block d-md-block d-lg-none">
        <div class="btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>

    <!-- nav title with logo -->
    <div class="col-auto ms-sm-auto ms-md-auto ms-lg-0 nav-logo d-flex align-items-center">
        <img [src]="appLogoPath" />
        <div class="nav-title">
            <span class="font-12">Project Title | </span>
            <span class="font-10">Dashboard Name</span>
        </div>
    </div>

    <!-- right burger menu on mobile -->
    <div class="col-auto ms-auto burger-box d-sm-block d-md-block d-lg-none">
        <div class="btn">
            <i class="fa-solid fa-right-from-bracket"></i>
        </div>
    </div>

    <!-- nav user info on large -->
    <div class="col-auto ms-auto d-sm-none d-md-none d-lg-block">
        <div class="row align-items-center">
            <div class="col-auto">
                <span class="bold-5">{{ currentUserName }}</span>
            </div>
            <div class="col-auto nav-user-avatar">
                <img [src]="userAvatarPath" />
            </div>
            <div class="col-auto h-100">
                <div class="btn btn-gradient-filled h-100">LOGOUT</div>
            </div>
        </div>
    </div>
</div>

<!-- left sidebar menu -->
<!-- <div class="left-menu d-md-none d-sm-none d-lg-block"> -->
<div #leftMenu class="left-menu">
    <div class="left-menu-box">
        <ul class="btn-group-vertical">
            <li class="btn btn-fullx"><i class="fa-solid fa-arrow-left"></i>BACK</li>
            <li class="btn btn-fullx"><i class="fa-regular fa-pen-to-square"></i>EDIT</li>
            <li class="btn btn-fullx"><i class="fa-solid fa-chart-line"></i>STATS</li>
            <li class="btn btn-fullx"><i class="fa-solid fa-people-group"></i>TEAMS</li>
            <li class="btn btn-fullx"><i class="fa-solid fa-list"></i>TODO LISTS</li>
            <li class="btn btn-fullx"><i class="fa-regular fa-comments"></i>CHAT</li>
        </ul>
    </div>
</div>

<!-- body content -->
<div class="content-wrapper">

    <!-- header project's stats -->
    <div class="row justify-content-center">
        <div class="col-auto mt-sm-3">
            <div class="text-center">
                <div class="head-stat bcolor-light-purple color-purple">
                    <div class="row px-2 align-items-center gap-2">
                        <div class="col-auto icon-background bcolor-purple d-flex align-content-center">
                            <i class="fa-solid fa-table-list font-14"></i>
                        </div>
                        <div class="col-auto px-1">
                            <span class="font-10">TODO LISTS</span>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <span class="font-14">
                            {{ todoLists.length }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mt-sm-3">
            <div class="text-center">
                <div class="head-stat bcolor-light-orange color-orange">
                    <div class="row px-2 align-items-center gap-2">
                        <div class="col-auto icon-background bcolor-orange d-flex align-content-center">
                            <i class="fa-solid fa-people-roof font-14"></i>
                        </div>
                        <div class="col-auto px-1">
                            <span class="font-10">TEAMS</span>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <span class="font-14">
                            {{ teams.length }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mt-sm-3">
            <div class="text-center">
                <div class="head-stat bcolor-light-yellow color-yellow">
                    <div class="row px-2 align-items-center gap-2">
                        <div class="col-auto icon-background bcolor-yellow d-flex align-content-center">
                            <i class="fa-solid fa-people-group font-14"></i>
                        </div>
                        <div class="col-auto px-1">
                            <span class="font-10">MEMBERS</span>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <span class="font-14">
                            {{ membersCount }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- project's stats container -->
    <div class="row justify-content-center">

        <!-- general project's stats -->
        <div class="col-auto mt-sm-4">
            <div class="general-stat-container position-relative">
                <div class="general-stat-inner">
                    <div class="row">
                        <div class="col-auto general-stat-text">
                            <span class="font-13 bold-4 color-grey">General Stats</span>
                            <span>Total Tasks: 56</span>
                            <span>Todo Tasks: 25</span>
                            <span>Tasks In Progress: 12</span>
                            <span>Tasks Completed: 15</span>
                        </div>
                        <div class="col">
                            <div class="me-5">
                                <div class="row justify-content-end">
                                    <div class="progress-bar-container">
                                        <canvas class="float-end" id="TodoListsProgressChart" height="52px">
                                            {{ todoListsProgressChart }}
                                        </canvas>
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="progress-bar-container">
                                        <canvas class="float-end" id="TasksProgressChart" height="60px">
                                            {{ tasksProgressChart }}
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="position: absolute; bottom: 15px; right: 25px;">
                    <span class="font-8 color-grey">129 days till the deadline 20.06.2024</span>
                </div>
            </div>
        </div>

        <!-- project's budget stats -->
        <div class="col-auto mt-sm-4">
            <div class="budget-stat-container position-relative ">
                <div class="row general-stat-inner">
                    <div class="row justify-content-end pb-2">
                        <div class="col-auto text-end">
                            <span class="font-13 bold-4 color-grey">Budget</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-column align-items-start budget-money">
                                <span class="color-green">1 200 000$</span>
                                <span class="color-purple">650 000$</span>
                                <span class="color-orange">100 000$</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="chart-container">
                                <canvas id="BudgetChart">{{ budgetChart }}</canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-start" style="position: absolute; bottom: 15px; left: 15px;">
                    <span class="color-grey font-9">Client Company Name</span>
                </div>
            </div>
        </div>
    </div>

    <!-- all project's todo lists container -->
    <div class="row justify-content-center gap-5 my-5">
        <div class="todolist-card" appTodolistCardColor *ngFor="let list of todoLists" [CardColor]="list.Color">
            <div class="px-2 mt-2 position-relative h-100">
                <div class="row">
                    <div class="col text-start pt-2 font-12 bold-4">
                        <span>{{ list.Title }}</span>
                    </div>
                    <div class="col-auto d-flex flex-row flex-nowrap justify-content-end">
                        <div class="col-auto" style="width: 125px;">
                            <canvas id="{{ list.Title + 'Chart' }}" height="55px"></canvas>
                        </div>
                        <div class="col-auto text-end ps-2" style="font-size: 1.7em; padding-top: 12px;">
                            66%</div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col d-flex flex-column text-start font-8 bold-5">
                        <span>TOTAL TASKS: {{ list.TasksCount }}</span>
                        <span>TASKS TODO: {{ list.TasksCount - list.TasksCompleted }}</span>
                        <span>COMPLETED TASKS: {{ list.TasksCompleted }}</span>
                    </div>
                    <div class="col text-end">
                        <div class="row flex-row align-items-center">
                            <div class="col">
                                <span> {{ list.TeamLiderName }}</span>
                            </div>
                            <div class="col-auto avatar-box">
                                <img [src]="avatarPath" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row flex-row position-absolute align-items-center" style="right:9px; bottom: 18px;">
                    <div class="float-start w-auto">
                        <span>{{ list.TeamName }}</span>
                    </div>
                    <div class="float-end w-auto ps-0">
                        <div class="team-color-box text-end">
                            <svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path appTodolistCardTeamColor teamColor="{{ list.TeamColor }}"
                                    d="M378.5,333Q347,426,250.5,407.5Q154,389,82,314.5Q10,240,76,155Q142,70,232.5,83Q323,96,366.5,168Q410,240,378.5,333Z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-content-center ">
            <button class="btn b-color-grey" (click)="ReadMoreTodoLists()"
                style="width: 150px; height: 45px;">MORE</button>
        </div>
    </div>

    <!-- all project's teams container -->
    <div class="row mt-5 justify-content-center">
        <div class="row gap-5 justify-content-center">
            <div class="team-card" *ngFor="let team of teams">
                <div class="position-relative h-100">
                    <div class="row text-start py-2">
                        <span style="font-size: 1.3em;"> {{ team.Name.toUpperCase() }}</span>
                    </div>
                    <div class="row team-inner-box position-relative ps-2 color-grey">
                        <div class="row pt-3">
                            <div class="col-auto">
                                <span class="bold-5 font-12">Members </span>
                            </div>
                            <div class="col-auto">
                                <div class="members-count-box">
                                    <span class="font-8 p-2">20</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 40px;">
                            <div class="avatars-box text-start pt-3">
                                <span *ngFor="let member of team.Members" matTooltip="{{ member.Name }}"
                                    [matTooltipPosition]="'above'">
                                    <img [src]="member.AvatarPath" />
                                </span>
                            </div>
                        </div>
                        <div class="row position-absolute bottom-0 text-start font-9">
                            <div class="col">
                                <span>{{ team.MonthlyCost }} $ / month</span>
                            </div>
                            <div class="col">
                                <span>5 tasks / person</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-content-center ">
                <button class="btn b-color-grey" (click)="ReadMoreTeams()"
                    style="width: 150px; height: 45px;">MORE</button>
            </div>
        </div>
    </div>
</div>