table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.teamMateImg {
  width: 40px;
  height: auto;
}

.statusBox {
  padding: 5px 10px;
  background-color: red;
}