:host ::ng-deep {
  .p-progressbar {
      height: .5rem;
      background-color: #D8DADC;
  
      .p-progressbar-value {
          background-color: #607D8B;
      }
  }
}

.bodyWall {
  background-color: grey; 
  opacity: 0.2; 
  width: 100%; 
  height: 130%;
  position: absolute;
  z-index: 1;
}

.th-w-std th {
  min-width: 10rem;
}

.th-w-s {
  min-width: 3rem !important;
}